@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "@/scss/icons";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}